body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.BtnHover{
text-decoration: none;
}

.BtnHover:hover {
  background-color: black;
}

.NoBorder {
  border: none;
}

.BgColorWhite {
  background-color: white;
}

.ColorGrayLike {
  color: rgb(255, 255, 255, 0.55);
}